header {
    background-color: #4a5915;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    width: 90px;
  }
  
  header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  header nav ul li a:hover {
    color: #4ebfd9;
  }